<h1 class='bannertext'>Deleted Item Drops</h1>
<p><img class='main' src="https://lh3.googleusercontent.com/g-wepTnXios8ow290OCc-eUTTbiJPWnaL0Y8-ZG_PvNMht-CLGshQ1lZsWHr7Xb-IM_hjp79NiukkTPosfczNftDdOVQseehpsqkeT9BGeM_xppur0GGx4KmxHvUk5WdR1JQtPZLvJtBVrBdBIxdiE1TYa3XSUmra3lebYW_nIApOATILzvgAs-nOYeIFNuvoGRy-1S-DyIHEX-QKQ3ShzLOn1-pHQNoxZxtuzN7vZ-Ja55mrgIQeE9xpQOEVUoIzmewtJ3uB5eUUXxfFgsia06SoCb-Hp4lhPlWfyfDzFspUsjbx228KqrK1y-1qjQIL7Zr1VbgyjBSilNu5MXG86jv470gnQNFVTAenrH-uj5LxRoBKcr_4hGD58Fe_hnzcwEPQH16X7832uH1_4WjFNt26fWSsQd0wGMb5Sx6HuRPlI-9R2E6Xbqjv97GHt0uLd0tpMUtbykDVdyZIcBpudDq1eoH9ZlXO8q5jS95o8j6HzsqCaG-2vjETZR9SlRPcrsdgVNtI_TvrvuI7eRPy-g_sN8Jy9H6vGKIFqP_V3G0LIDkNr66bRRHwAHpr0oqJ1xIGvZ7RWMuuNgR0jBowC5weM7RHLZ7MLZ2A1xthlY88ZB_UYddNxlTufw2pqFZnAaqdpO4DZpiHYpsnAMhATwjqx-KmbV6SYNXZFedNPqrhBz2m45l9SZYCur25OdTARBxZ3U5EEFnk2WLGKDvtwChW-KMAQKurRsCwPDya0aaM0h-nQ=w1920-h804-no"></p>

<mat-table [dataSource]='SavageItems'>
    <!--- Note that these columns can be defined in any order.
         The actual rendered columns are set as a property on the row definition" -->
 
   <!-- Position Column -->
   <ng-container matColumnDef="dateReceived" >
       <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.receiveddate | date:'shortDate'}} </mat-cell>
     </ng-container>
   
     <!-- Name Column -->
     <ng-container matColumnDef="floor">
       <mat-header-cell  *matHeaderCellDef> Floor </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{ element.raidfloorname }} </mat-cell>
     </ng-container>
   
     <!-- Weight Column -->
     <ng-container matColumnDef="raider">
       <mat-header-cell *matHeaderCellDef> Raider </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.raidername}} </mat-cell>
     </ng-container>
   
     <!-- Symbol Column -->
     <ng-container matColumnDef="droptype">
       <mat-header-cell *matHeaderCellDef> Drop </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.raidItem}} </mat-cell>
     </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="datearchived">
        <mat-header-cell *matHeaderCellDef> Date Archived </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.archiveddate | date:'shortDate'}} </mat-cell>
      </ng-container>
 
   
     <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>