<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mobilenumber">
        <mat-header-cell *matHeaderCellDef> Mobile Number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mobilenumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="datecreated">
        <mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.datecreated}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
                {{element.status}} 
                <i *ngIf="element.status === 'Pending Registration'" class="material-icons orange600">mail</i>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="costcenter">
        <mat-header-cell *matHeaderCellDef> Cost Center </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.costcenter}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row >
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row >
</table>