<h1>Who can lot?</h1>

<ul>
  <li>Round robin Equipment Coffers</li>
  <li>Round robin Equipment Upgrades</li>
  <li>Round robin Weapon Coffers... priority DPS > Tanks > Heals</li>
  <li>Round robin Weapon Upgrades... priority DPS > Tanks > Heals, among those who have a weapon to upgrade</li>
  <li>Weapon Tomestone ... prioritize those who need it for primary weapon > free lot </li>
</ul>

<div class='container'>
  <div class='floatLeft'>
    <table class='table' *ngIf="EquipmentItems">
      <thead>
        <tr>
          <th>Equipment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let EquipmentItem of EquipmentItems">
          <td>{{ EquipmentItem.raider }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='floatLeft'>
    <table class='table'>
      <thead>
        <tr>
          <th>Equipment Upgrade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let EquipmentUpgradeItem of EquipmentUpgradeItems">
          <td>{{ EquipmentUpgradeItem.raider }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='floatRight'>
      <table class='table'>
          <thead>
            <tr>
              <th>Weapon</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let WeaponItem of WeaponItems">
              <td>{{ WeaponItem.raider }}</td>
            </tr>
          </tbody>
      </table>
  </div>
  <div class='floatRight'>
      <table class='table'>
          <thead>
            <tr>
              <th>Weapon Upgrade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let WeaponUpgradeItem of WeaponUpgradeItems">
              <td>{{ WeaponUpgradeItem.raider}}</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>

<!--<form (ngSubmit)="onSubmit()">
  <button type="submit" class="btn btn-success">Reset dB</button>
</form>-->
