<h1>Item Drops</h1>

<ul>
  <li>Round robin Equipment Coffers</li>
  <li>Round robin Equipment Upgrades</li>
  <li>Round robin Weapon Coffers... priority DPS > Tanks > Heals</li>
  <li>Round robin Weapon Upgrades... priority DPS > Tanks > Heals, among those who have a weapon to upgrade</li>
  <li>Weapon Tomestone ... prioritize those who need it for primary weapon > free lot </li>
</ul>
<p *ngIf="!SavageItems"><em>Loading...</em></p>

<div class='container'>
  <div class='floatLeft'>
    <table class='table' *ngIf="EquipmentItems">
      <thead>
        <tr>
          <th>Can Lot Equipment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let EquipmentItem of EquipmentItems">
          <td>{{ EquipmentItem.raider }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='floatLeft'>
    <table class='table'>
      <thead>
        <tr>
          <th>Can Lot Equipment Upgrade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let EquipmentUpgradeItem of EquipmentUpgradeItems">
          <td>{{ EquipmentUpgradeItem.raider}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='floatRight'>
      <table class='table'>
          <thead>
            <tr>
              <th>Can Lot Weapon</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let WeaponItem of WeaponItems">
              <td>{{ WeaponItem.raider}}</td>
            </tr>
          </tbody>
      </table>
  </div>
  <div class='floatRight'>
      <table class='table'>
          <thead>
            <tr>
              <th>Can Lot Weapon Upgrade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let WeaponUpgradeItem of WeaponUpgradeItems">
              <td>{{ WeaponUpgradeItem.raider}}</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>

<table class='table' *ngIf="SavageItems">
  <thead>
    <tr>
      <th>Date</th>
      <th>Floor</th>
      <th>Raider</th>
      <th>Drop</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let SavageItem of SavageItems">
      <td>{{ SavageItem.dateReceived }}</td>
      <td>{{ SavageItem.floor }}</td>
      <td>{{ SavageItem.raider }}</td>
      <td>{{ SavageItem.droptype }}</td>
    </tr>
  </tbody>
</table>

<!--<form (ngSubmit)="onSubmit()">
  <button type="submit" class="btn btn-success">Reset dB</button>
</form>-->
