<img class='main' src='assets/img/eden2.png'>
<h1>Eden Savage Floor 2 - Who can lot?</h1>
<ul>
  <li>Round robin Equipment Coffers</li>
  <li>Round robin Deepshadow Coating</li>
  <li>Weapon Tomestone ... prioritize those who need it for primary weapon > free lot </li>
</ul>

<div class='container'>
  <div class='box'>
    <mat-table [dataSource]='Items1'>
      <ng-container matColumnDef="raiditem">
         <mat-header-cell *matHeaderCellDef> Equipment Coffer </mat-header-cell>
         <mat-cell *matCellDef="let element">
             <mat-list>
                <mat-list-item routerLink='{{ element.raider.pageroute }}'>
                   <div class="toLeft">
                     <img matListAvatar
                     src='{{ element.raider.raiderimg }}' 
                     alt='{{ element.raider.raidername }}'>
                   </div>&nbsp;&nbsp;&nbsp;
                   <p mat-Line>{{ element.raider.raidername }}</p>               
                 </mat-list-item>
              </mat-list>
         </mat-cell>
       </ng-container>     
        
      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>
  </div>
  <div class='box'>
    <mat-table [dataSource]='Items2'>
      <ng-container matColumnDef="raiditem">
         <mat-header-cell *matHeaderCellDef > Deepshadow Coating </mat-header-cell>
         <mat-cell *matCellDef="let element"> 
             <mat-list>
                <mat-list-item routerLink='{{ element.raider.pageroute }}'>
                <div class="toLeft">
                  <img matListAvatar
                  src='{{ element.raider.raiderimg }}' 
                  alt='{{ element.raider.raidername }}'>
                </div>&nbsp;&nbsp;&nbsp;
                <p mat-Line>{{ element.raider.raidername }}</p>               
              </mat-list-item>
            </mat-list>
         </mat-cell>
      </ng-container>     
        
      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>
  </div>
</div>