.container { overflow: hidden; }

img.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%
}

.box {
    float: none;
    width: 100%;
}
@media (min-width: 768px) {

    .box {
        float: left;
        width: 33.33%;
    }
  
  }