<img class='main' src='assets/img/eden2.png'>
<h1 class='bannertext'>Eden Savage Floor 2 - Who can lot?</h1>
<ul>
  <li>Round robin Equipment Coffers</li>
  <li>Round robin Deepshadow Coating</li>
  <li>Weapon Tomestone ... prioritize those who need it for primary weapon > free lot </li>
</ul>

<div class='container'>
  <div class='box'>
    <mat-table [dataSource]='Items1'>
      <ng-container matColumnDef="raiditem">
         <mat-header-cell *matHeaderCellDef> Equipment Coffer </mat-header-cell>
         <mat-cell *matCellDef="let element">
             <mat-list>
                <mat-list-item routerLink='{{ element.raider.pageroute }}'>
                   <div class="toLeft">
                     <img matListAvatar
                     src='{{ element.raider.raiderimg }}' 
                     alt='{{ element.raider.raidername }}'>
                   </div>&nbsp;&nbsp;&nbsp;
                   <p mat-Line>{{ element.raider.raidername }}</p>               
                 </mat-list-item>
              </mat-list>
         </mat-cell>
       </ng-container>     
        
      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>
  </div>
  <div class='box'>
    <mat-table [dataSource]='Items2'>
      <ng-container matColumnDef="raiditem">
         <mat-header-cell *matHeaderCellDef > Deepshadow Coating </mat-header-cell>
         <mat-cell *matCellDef="let element"> 
             <mat-list>
                <mat-list-item routerLink='{{ element.raider.pageroute }}'>
                <div class="toLeft">
                  <img matListAvatar
                  src='{{ element.raider.raiderimg }}' 
                  alt='{{ element.raider.raidername }}'>
                </div>&nbsp;&nbsp;&nbsp;
                <p mat-Line>{{ element.raider.raidername }}</p>               
              </mat-list-item>
            </mat-list>
         </mat-cell>
      </ng-container>     
        
      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   </mat-table>
  </div>
</div>

<h1 class='bannertext'>Eden Savage Floor 2 Drops History</h1>

<mat-table [dataSource]='SavageItems'>
    <!--- Note that these columns can be defined in any order.
         The actual rendered columns are set as a property on the row definition" -->
 
   <!-- Position Column -->
   <ng-container matColumnDef="dateReceived" >
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.receiveddate | date:'shortDate' }} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="floor">
      <mat-header-cell  *matHeaderCellDef> Floor </mat-header-cell>
      <mat-cell *matCellDef="let element" > <img class='floor-icon' src='{{ element.raidfloorImage }}'> </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="raider">
      <mat-header-cell *matHeaderCellDef> Raider </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-list>
            <mat-list-item >
              <div class="toLeft">
                <img matListAvatar
                src='{{ element.profile.raiderimg }}' 
                alt='{{ element.profile.raidername }}'>
              </div>               
            </mat-list-item>
          </mat-list>
      </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="droptype">
      <mat-header-cell *matHeaderCellDef> Drop </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.raidItem}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <div *ngIf="loggedIn; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"><mat-icon (click)='OnRemoveItem(element.id)'>remove_circle_outline</mat-icon></mat-cell>
        </ng-container>
    </ng-template>
    <ng-template #elseBlock>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element"></mat-cell>
        </ng-container>
    </ng-template>
  
    <mat-header-row  *matHeaderRowDef="displayedColumns1"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
 </mat-table>