<mat-tab-group [selectedIndex]="selected" (selectedTabChange)="tabChanged($event)">
    <mat-tab *ngFor="let char of ninemember">
        <ng-template mat-tab-label>
            <mat-list>
                <mat-list-item>
                    <img matListAvatar src='{{ char.raiderimg }}'> 
                </mat-list-item>
            </mat-list>
        </ng-template>
        <app-character-info [characterid]='char.lodestoneid'></app-character-info>
    </mat-tab>
</mat-tab-group>

<!--<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>-->