<div *ngIf='savagefloors'>
    <mat-table [dataSource]='savagefloors'>
        <ng-container matColumnDef="encounterName">
            <mat-header-cell *matHeaderCellDef> Boss </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.encounterName }} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="percentile">
            <mat-header-cell *matHeaderCellDef> Percentile </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.percentile }} {{ element.spec }} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.total }} </mat-cell>
        </ng-container>
    
        <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
