<br><br>
<div class='container'>
    <div *ngFor="let rrl of raiditems" class='box'>
        <mat-table [dataSource]='rrl.items'>
            <ng-container matColumnDef="raiditem">
                <mat-header-cell *matHeaderCellDef>{{ rrl.raiditemname }} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-chip-list>
                        <mat-chip color="primary" selected (click)="openBottomSheet(element.raider.lodestoneid, element.raider.raidername, rrl.raiditemname, rrl.id)">
                            <img class='acac-avatar'
                            src='{{ element.raider.raiderimg }}'>
                            &nbsp;&nbsp;
                            {{ element.raidername }}</mat-chip>
                    </mat-chip-list>
                </mat-cell>
            </ng-container>
            <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>