/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

img.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}
    
h1.bannertext {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p.toRight
{
  float: right;
}

img.floor-icon{
  height: 56px;
  width: 56px;
}
.toLeft
{
  float: none;
}

.raiderImage img {
  width: 220px;
  height:300px;
}

.toLeftSide {
  float: none;
}
.toRightSide {
  float: none;
}
.basic-container {
  padding: 30px;
}
.raiderImage {
  float: none;
}
.contentColumn1
{
  float: none;
}
.contentColumn2
{
  float: none;
}

@media (min-width: 1024px) {
  .raiderImage {
    float: none;
  }
  .raiderImage img {
    width: 220px;
    height:300px;
  }
  .toLeftSide {
    float: left;
    width: 50%;
  }
  .toRightSide {
    float: right;
    width: 50%
  }
  .contentColumn1
  {
    float: left;
    width: 60%;
  }
  .contentColumn2
  {
    float: left;
    width: 40%
  }
}

.divcolumn1 {
  float: left;

}
.divcolumn2 {
  float: left;
}

.divcolumn3 {
  float: left;

}
.divrow:after {
  content: "";
  display: table;
  clear: both;
}