<img class='main' src='assets/img/eden4.png'>
<h1>Eden Savage Floor 4 - Who can lot?</h1>
<ul>
  <li>Round robin Chest Coffers</li>
  <li>Round robin Weapon Coffers... priority DPS > Tanks > Heals</li>
</ul>

<div class='container'>
    <div class='box'>
      <mat-table [dataSource]='Items1'>
        <ng-container matColumnDef="raiditem">
           <mat-header-cell *matHeaderCellDef> Chest Coffer </mat-header-cell>
           <mat-cell *matCellDef="let element">
               <mat-list>
                   <mat-list-item routerLink='{{ element.raider.pageroute }}'>
                     <div class="toLeft">
                       <img matListAvatar
                       src='{{ element.raider.raiderimg }}' 
                       alt='{{ element.raider.raidername }}'>
                     </div>&nbsp;&nbsp;&nbsp;
                     <p mat-Line>{{ element.raider.raidername }}</p>               
                   </mat-list-item>
                </mat-list>
           </mat-cell>
         </ng-container>     
          
        <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
     </mat-table>
    </div>
    <div class='box'>
      <mat-table [dataSource]='Items2'>
        <ng-container matColumnDef="raiditem">
           <mat-header-cell *matHeaderCellDef > Weapon Coffer </mat-header-cell>
           <mat-cell *matCellDef="let element"> 
              <mat-list>
                  <mat-list-item routerLink='{{ element.raider.pageroute }}'>
                  <div class="toLeft">
                    <img matListAvatar
                    src='{{ element.raider.raiderimg }}' 
                    alt='{{ element.raider.raidername }}'>
                  </div>&nbsp;&nbsp;&nbsp;
                  <p mat-Line>{{ element.raider.raidername }}</p>               
                </mat-list-item>
              </mat-list>
           </mat-cell>
        </ng-container>     
          
        <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
     </mat-table>
    </div>
  </div>