<img class='main' src='assets/img/eden4.png'>
<h1>Eden Savage Floor 4 - Who can lot?</h1>
<ul>
  <li>Round robin Equipment Coffers</li>
  <li>Round robin Weapon Coffers... priority DPS > Tanks > Heals</li>
</ul>

<div class='container'>
  <div class='box'>
    <table class='table' *ngIf="Floor4_Equipments">
      <thead>
        <tr>
          <th>Equipment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Floor4_Equipment of Floor4_Equipments">
          <td>{{ Floor4_Equipment.raider }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='box'>
    <table class='table'*ngIf="Floor4_WeaponCoffers">
      <thead>
        <tr>
          <th>Weapon Coffer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Floor4_WeaponCoffer of Floor4_WeaponCoffers">
          <td>{{ Floor4_WeaponCoffer.raider }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class='container'>
  <div class='box'>
    <form (ngSubmit)="onClearFloor4_Equipment()">
      <button type="submit" class="btn btn-success">Reset Equipment List</button>
    </form>
  </div>
  <div class='box'>
    <form (ngSubmit)="onClearFloor4_WeaponCoffer()">
      <button type="submit" class="btn btn-success">Reset Weapon List</button>
    </form>    
  </div>
</div>