<button mat-icon-button [matMenuTriggerFor]="acacmenu"><mat-icon>menu</mat-icon></button>

<mat-menu #acacmenu="matMenu">
  <button mat-menu-item [routerLink]='["/"]'>
    <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>  Home
  </button>
  <button mat-menu-item [routerLink]='["/item-drop-history"]'>
    <mat-icon aria-hidden="false" aria-label="Item Drop History">history</mat-icon>  Item Drop History
  </button>
  <button mat-menu-item [matMenuTriggerFor]="savagefloors"><mat-icon aria-hidden="false" aria-label="Who can lot?">work</mat-icon>Who can lot?</button>
  <button mat-menu-item [matMenuTriggerFor]="raiders"><mat-icon aria-hidden="false" aria-label="Raiders">emoji_people</mat-icon>Raiders</button>
  <button mat-menu-item [matMenuTriggerFor]="adminpages"><mat-icon aria-hidden="false" aria-label="Raiders">settings_applications</mat-icon></button>
</mat-menu>

<mat-menu #savagefloors="matMenu">
  <button mat-menu-item [routerLink]='["/who-can-lot/eden-savage-1"]'>
    <mat-icon aria-hidden="false">looks_one</mat-icon> Eden Savage 1
  </button>
  <button mat-menu-item [routerLink]='["/who-can-lot/eden-savage-2"]'>
    <mat-icon aria-hidden="false">looks_two</mat-icon> Eden Savage 2
  </button>
  <button mat-menu-item [routerLink]='["/who-can-lot/eden-savage-3"]'>
    <mat-icon aria-hidden="false">looks_3</mat-icon> Eden Savage 3
  </button>
  <button mat-menu-item [routerLink]='["/who-can-lot/eden-savage-4"]'>
    <mat-icon aria-hidden="false">looks_4</mat-icon> Eden Savage 4
  </button>
</mat-menu>

<mat-menu #raiders="matMenu">
    <button mat-menu-item [routerLink]='["/raiders/aerilyn-elessedil"]'>
      <mat-icon aria-hidden="false">face</mat-icon> Aerilyn Elessedil
    </button>
    <button mat-menu-item [routerLink]='["/raiders/hades-carmine"]'>
      <mat-icon aria-hidden="false">face</mat-icon> Hades Carmine
    </button>
    <button mat-menu-item [routerLink]='["/raiders/la-ki"]'>
      <mat-icon aria-hidden="false">face</mat-icon> La Ki
    </button>
    <button mat-menu-item [routerLink]='["/raiders/lan-mantear"]'>
      <mat-icon aria-hidden="false">face</mat-icon> Lan Mantear
    </button>
    <button mat-menu-item [routerLink]='["/raiders/shelly-duncan"]'>
      <mat-icon aria-hidden="false">face</mat-icon> Shelly Duncan
    </button>
    <button mat-menu-item [routerLink]='["/raiders/thomas-silverstar"]'>
      <mat-icon aria-hidden="false">face</mat-icon> Thomas Silverstar
    </button>
    <button mat-menu-item [routerLink]='["/raiders/val-phoenix"]'>
      <mat-icon aria-hidden="false">face</mat-icon> Val Phoenix
    </button>
    <button mat-menu-item [routerLink]='["/raiders/yumi-rin"]'>
      <mat-icon aria-hidden="false">face</mat-icon> Yumi Rin
    </button>
</mat-menu>

<mat-menu #adminpages="matMenu">
    <button mat-menu-item [routerLink]='["/add-item-drop"]'>
      <mat-icon aria-hidden="false" aria-label="Item Drop History">add</mat-icon>  Add Drop
    </button>
    <button mat-menu-item [routerLink]='["/admin-pages/archived-item-drop/archived-item-drop"]'>
      <mat-icon aria-hidden="false">archive</mat-icon> Removed Items
    </button>
    <button mat-menu-item [routerLink]='["/admin-pages/manage-lists"]'>
      <mat-icon aria-hidden="false">view_list</mat-icon> Manage Lists
    </button>
  </mat-menu>

