<button mat-icon-button [matMenuTriggerFor]="acacmenu"><mat-icon>menu</mat-icon></button>

<mat-menu #acacmenu="matMenu">
  <button mat-menu-item [routerLink]='["/"]'>
    <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>  Home
  </button>
  <button mat-menu-item [routerLink]='["/item-drop-history"]'>
    <mat-icon aria-hidden="false" aria-label="Item Drop History">history</mat-icon>  Item Drop History
  </button>
  <button mat-menu-item [routerLink]='["/who-can-lot"]'><mat-icon aria-hidden="false" aria-label="Who can lot?">work</mat-icon>Who can lot?</button>
  <button mat-menu-item [matMenuTriggerFor]="raiders"><mat-icon aria-hidden="false" aria-label="Raiders">emoji_people</mat-icon>Raiders</button>
  <button mat-menu-item [matMenuTriggerFor]="adminpages"><mat-icon aria-hidden="false" aria-label="Raiders">settings_applications</mat-icon></button>
</mat-menu>

<mat-menu #raiders="matMenu">
    <mat-list>
      <mat-list-item [routerLink]='["/raiders/aerilyn-elessedil"]'>
          <img matListAvatar
          src='{{ ae }}'>
          <button mat-menu-item >Aerilyn Elessedil</button>
      </mat-list-item>
      <mat-list-item [routerLink]='["/raiders/hades-carmine"]'>
          <img matListAvatar
          src='{{ hc }}'>
          <button mat-menu-item>Hades Carmine</button>
      </mat-list-item>
      <mat-list-item [routerLink]='["/raiders/la-ki"]'>
          <img matListAvatar
          src='{{ lk }}'>
          <button mat-menu-item >La Ki</button>
      </mat-list-item>
      <mat-list-item [routerLink]='["/raiders/lan-mantear"]'>
          <img matListAvatar
          src='{{ lm }}'>
          <button mat-menu-item>Lan Mantear</button>
      </mat-list-item>
      <mat-list-item [routerLink]='["/raiders/shelly-duncan"]'>
          <img matListAvatar
          src='{{ sd }}'>
          <button mat-menu-item>Shelly Duncan</button>
      </mat-list-item>
      <mat-list-item [routerLink]='["/raiders/thomas-silverstar"]'>
          <img matListAvatar
          src='{{ ts }}'>
          <button mat-menu-item>Thomas Silverstar</button>
      </mat-list-item>
      <mat-list-item [routerLink]='["/raiders/val-phoenix"]'>
          <img matListAvatar
          src='{{ vp }}'>
          <button mat-menu-item>Val Phoenix</button>
      </mat-list-item>
      <mat-list-item [routerLink]='["/raiders/yumi-rin"]'>
          <img matListAvatar
          src='{{ yr }}'>
          <button mat-menu-item>Yumi Rin</button>
      </mat-list-item>
    </mat-list>
</mat-menu>

<mat-menu #adminpages="matMenu">
    <button mat-menu-item [routerLink]='["/nine/nine"]'>
      <mat-icon aria-hidden="false">portrait</mat-icon> Nine
    </button>
    <button mat-menu-item [routerLink]='["/admin-pages/archived-item-drop/archived-item-drop"]'>
      <mat-icon aria-hidden="false">archive</mat-icon> Removed Items
    </button>
    <div *ngIf="loggedIn; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <button mat-menu-item [routerLink]='["/add-item-drop"]'>
        <mat-icon aria-hidden="false" aria-label="Item Drop History">add</mat-icon>  Add Drop
      </button>      
      <button mat-menu-item [routerLink]='["/admin-pages/manage-lists"]'>
        <mat-icon aria-hidden="false">view_list</mat-icon> Manage Lists
      </button>
      <button mat-menu-item (click)="Onlogout()">
        <mat-icon aria-hidden="false">vpn_key</mat-icon>Logout
      </button>
    </ng-template>
    <ng-template #elseBlock>
      <button mat-menu-item (click)="openDialog()">
        <mat-icon aria-hidden="false">vpn_key</mat-icon>Login
      </button>
    </ng-template>
  </mat-menu>

