<div *ngIf="!characterprofile.name" align="center">
    <br><br>
    <mat-spinner color="accent"></mat-spinner>
    <br><br>
</div>
<mat-card *ngIf="characterprofile.name" style="width:375px;">
    <mat-card-header>
        <img mat-card-avatar src='{{ characterprofile.avatar }}' (click)='refreshRaider(true)'>
        <mat-card-title align='left'>{{ characterprofile.name }}</mat-card-title>
        <mat-card-subtitle align='left'>{{ characterprofile.freecompanyname }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-icon>home</mat-icon>&nbsp;&nbsp;{{ characterprofile.server }}&nbsp;&nbsp;({{ characterprofile.dc }})
        <mat-grid-list cols="3" rowHeight="375px">
            <mat-grid-tile>
                <mat-list>
                    <mat-list-item><img matTooltip='{{characterprofile.mainhand.Item.Name}}' src='https://xivapi.com{{ characterprofile.mainhand.Item.Icon }}' (click)="openDialog(characterprofile.mainhand)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.head"><img matTooltip='{{characterprofile.head.Item.Name}}' src='https://xivapi.com{{ characterprofile.head.Item.Icon }}' (click)="openDialog(characterprofile.head)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.body"><img matTooltip='{{characterprofile.body.Item.Name}}' src='https://xivapi.com{{ characterprofile.body.Item.Icon }}' (click)="openDialog(characterprofile.body)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.hands"><img matTooltip='{{characterprofile.hands.Item.Name}}' src='https://xivapi.com{{ characterprofile.hands.Item.Icon }}' (click)="openDialog(characterprofile.hands)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.waist"><img matTooltip='{{characterprofile.waist.Item.Name}}' src='https://xivapi.com{{ characterprofile.waist.Item.Icon }}' (click)="openDialog(characterprofile.waist)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.legs"><img matTooltip='{{characterprofile.legs.Item.Name}}' src='https://xivapi.com{{ characterprofile.legs.Item.Icon }}' (click)="openDialog(characterprofile.legs)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.feet"><img matTooltip='{{characterprofile.feet.Item.Name}}' src='https://xivapi.com{{ characterprofile.feet.Item.Icon }}' (click)="openDialog(characterprofile.feet)"></mat-list-item>
                </mat-list>        
            </mat-grid-tile>
            <mat-grid-tile>
                <a href='{{ characterprofile.portrait }}' target='_blank'><img src='{{ characterprofile.portrait }}' class="profile-picture-img"></a>
            </mat-grid-tile>
            <mat-grid-tile>
            <mat-list>
                <mat-list-item *ngIf="characterprofile.offhand"><img matTooltip='{{characterprofile.offhand.Item.Name}}' src='https://xivapi.com{{ characterprofile.offhand.Item.Icon }}' (click)="openDialog(characterprofile.offhand)"></mat-list-item>
                <mat-list-item *ngIf="characterprofile.earrings"><img matTooltip='{{characterprofile.earrings.Item.Name}}' src='https://xivapi.com{{ characterprofile.earrings.Item.Icon }}' (click)="openDialog(characterprofile.earrings)"></mat-list-item>
                <mat-list-item *ngIf="characterprofile.necklace"><img matTooltip='{{characterprofile.necklace.Item.Name}}' src='https://xivapi.com{{ characterprofile.necklace.Item.Icon }}' (click)="openDialog(characterprofile.necklace)"></mat-list-item>
                <mat-list-item *ngIf="characterprofile.bracelets"><img matTooltip='{{characterprofile.bracelets.Item.Name}}' src='https://xivapi.com{{ characterprofile.bracelets.Item.Icon }}' (click)="openDialog(characterprofile.bracelets)"></mat-list-item>
                <mat-list-item *ngIf="characterprofile.ring1"><img matTooltip='{{characterprofile.ring1.Item.Name}}' src='https://xivapi.com{{ characterprofile.ring1.Item.Icon }}' (click)="openDialog(characterprofile.ring1)"></mat-list-item>
                <mat-list-item *ngIf="characterprofile.ring2"><img matTooltip='{{characterprofile.ring2.Item.Name}}' src='https://xivapi.com{{ characterprofile.ring2.Item.Icon }}' (click)="openDialog(characterprofile.ring2)"></mat-list-item>
                <mat-list-item *ngIf="characterprofile.soulcrystal"><img matTooltip='{{characterprofile.soulcrystal.Item.Name}}' src='https://xivapi.com{{ characterprofile.soulcrystal.Item.Icon }}' (click)="openDialog(characterprofile.soulcrystal)"></mat-list-item>
            </mat-list>               
            </mat-grid-tile>
        </mat-grid-list>       
    </mat-card-content>
</mat-card>
<!--
<div *ngIf="characterprofile.name" style="width:375px;">
    <mat-list>
        <mat-list-item>
            <img matListAvatar src='{{ characterprofile.avatar }}' (click)='refreshRaider(true)'>&nbsp;&nbsp;
            <h2>{{ characterprofile.name }}&nbsp;&nbsp;</h2><h6>~{{ characterprofile.freecompanyname }}</h6>
        </mat-list-item>
        <mat-list-item>
            <table>
                <tr>
                    <td><mat-icon>home</mat-icon></td>
                    <td><h5>{{ characterprofile.server }}&nbsp;&nbsp;({{ characterprofile.dc }})</h5></td>
                </tr>
            </table>  
        </mat-list-item>
    </mat-list>
    <div class="contentColumn1" style="width: 100%;">
        <div class="divrow">
            <div class="divcolumn1">
                <mat-list>
                    <mat-list-item><img matTooltip='{{characterprofile.mainhand.Item.Name}}' src='https://xivapi.com{{ characterprofile.mainhand.Item.Icon }}' (click)="openDialog(characterprofile.mainhand)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.head"><img matTooltip='{{characterprofile.head.Item.Name}}' src='https://xivapi.com{{ characterprofile.head.Item.Icon }}' (click)="openDialog(characterprofile.head)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.body"><img matTooltip='{{characterprofile.body.Item.Name}}' src='https://xivapi.com{{ characterprofile.body.Item.Icon }}' (click)="openDialog(characterprofile.body)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.hands"><img matTooltip='{{characterprofile.hands.Item.Name}}' src='https://xivapi.com{{ characterprofile.hands.Item.Icon }}' (click)="openDialog(characterprofile.hands)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.waist"><img matTooltip='{{characterprofile.waist.Item.Name}}' src='https://xivapi.com{{ characterprofile.waist.Item.Icon }}' (click)="openDialog(characterprofile.waist)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.legs"><img matTooltip='{{characterprofile.legs.Item.Name}}' src='https://xivapi.com{{ characterprofile.legs.Item.Icon }}' (click)="openDialog(characterprofile.legs)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.feet"><img matTooltip='{{characterprofile.feet.Item.Name}}' src='https://xivapi.com{{ characterprofile.feet.Item.Icon }}' (click)="openDialog(characterprofile.feet)"></mat-list-item>
                </mat-list>
            </div>
            <div class="divcolumn2"><div class="raiderImage"><a href='{{ characterprofile.portrait }}' target='_blank'><img src='{{ characterprofile.portrait }}'></a></div></div>
            <div class="divcolumn3">
                <mat-list>
                    <mat-list-item *ngIf="characterprofile.offhand"><img matTooltip='{{characterprofile.offhand.Item.Name}}' src='https://xivapi.com{{ characterprofile.offhand.Item.Icon }}' (click)="openDialog(characterprofile.offhand)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.earrings"><img matTooltip='{{characterprofile.earrings.Item.Name}}' src='https://xivapi.com{{ characterprofile.earrings.Item.Icon }}' (click)="openDialog(characterprofile.earrings)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.necklace"><img matTooltip='{{characterprofile.necklace.Item.Name}}' src='https://xivapi.com{{ characterprofile.necklace.Item.Icon }}' (click)="openDialog(characterprofile.necklace)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.bracelets"><img matTooltip='{{characterprofile.bracelets.Item.Name}}' src='https://xivapi.com{{ characterprofile.bracelets.Item.Icon }}' (click)="openDialog(characterprofile.bracelets)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.ring1"><img matTooltip='{{characterprofile.ring1.Item.Name}}' src='https://xivapi.com{{ characterprofile.ring1.Item.Icon }}' (click)="openDialog(characterprofile.ring1)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.ring2"><img matTooltip='{{characterprofile.ring2.Item.Name}}' src='https://xivapi.com{{ characterprofile.ring2.Item.Icon }}' (click)="openDialog(characterprofile.ring2)"></mat-list-item>
                    <mat-list-item *ngIf="characterprofile.soulcrystal"><img matTooltip='{{characterprofile.soulcrystal.Item.Name}}' src='https://xivapi.com{{ characterprofile.soulcrystal.Item.Icon }}' (click)="openDialog(characterprofile.soulcrystal)"></mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>
-->