<p *ngIf="!characterprofile.name"><mat-progress-bar mode="indeterminate"></mat-progress-bar></p>
<div *ngIf="characterprofile.name">
    <mat-list>
        <mat-list-item>
            <img matListAvatar
            src='{{ characterprofile.avatar }}'>&nbsp;&nbsp;
            <h2>{{ characterprofile.name }}</h2>&nbsp;&nbsp;<h6>~{{ characterprofile.freecompanyname }}</h6>
        </mat-list-item>
        <mat-list-item>
            <img matListAvatar src='{{ characterprofile.jobicon }}'>&nbsp;&nbsp;Level {{ characterprofile.level }}
        </mat-list-item>
    </mat-list>
    <div class="contentColumn1">
    <div class="divrow">
      <div class="divcolumn1">
          <div *ngFor='let item of characterprofile.itemlist'>
              <button mat-button (click)="openToolTip(item.key)"><img src='{{ item.itemdata.itemicon }}'></button>
          </div>
      </div>
      <div class="divcolumn2"><div class="raiderImage"><img src='{{ characterprofile.portrait }}'></div></div>
      <div class="divcolumn3">
          <div *ngFor='let item of characterprofile.itemlist2'>
              <button mat-button (click)="openToolTip2(item.key)"><img src='{{ item.itemdata.itemicon }}'></button>
          </div>
      </div>
    </div>
    </div>
</div>