<h1 class='bannertext'>Add Item Drop</h1>

<form (ngSubmit)="onSubmit()" #addForm="ngForm">

<div class="form-container">

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose Date Received" required [(ngModel)]="Si.Receiveddate" name="dateReceived">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Savage Floor" required [(ngModel)]="Si.Raidfloorname" name="floor" (selectionChange)="toggleChangeFloor()">
      <mat-option *ngFor="let _floor of floors" [value]="_floor.value">
        {{ _floor.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Drop Type" required [(ngModel)]="Si.raidItem" name="droptype" (selectionChange)="raiditemchange()">
        <mat-option *ngFor="let _drop of drops" [value]="_drop">{{ _drop }}</mat-option>
      </mat-select>
  </mat-form-field>

  <mat-radio-group aria-label="Raider" required [(ngModel)]="Si.raidername" name="raider" (change)="raiderchange()">
      <mat-radio-button *ngFor="let _raider of raiders" [value]="_raider.raidername">
          <mat-list>
              <mat-list-item>
              <div class="toLeft">
                <img matListAvatar
                src='{{ _raider.raider.raiderimg }}' 
                alt='{{ _raider.raider.raidername }}'>
              </div>&nbsp;&nbsp;&nbsp;
              <p mat-Line>{{ _raider.raider.raidername }}</p>               
            </mat-list-item>
          </mat-list>
      </mat-radio-button>
  </mat-radio-group>

  <mat-checkbox (change)="toggleChange($event)" checked='true'>Add another</mat-checkbox>
  <button mat-raised-button type="submit" color="primary" [disabled]="!addForm.form.valid">Submit</button>
</div>  
  
</form>

<h2>Recent Drops</h2>
<mat-table [dataSource]='SavageItems'>
    <!--- Note that these columns can be defined in any order.
         The actual rendered columns are set as a property on the row definition" -->
 
   <!-- Position Column -->
   <ng-container matColumnDef="dateReceived" >
       <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.receiveddate | date:'shortDate'}} </mat-cell>
     </ng-container>
   
     <!-- Name Column -->
     <ng-container matColumnDef="floor">
       <mat-header-cell  *matHeaderCellDef> Floor </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{ element.raidfloorname }} </mat-cell>
     </ng-container>
   
     <!-- Weight Column -->
     <ng-container matColumnDef="raider">
       <mat-header-cell *matHeaderCellDef> Raider </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.raidername}} </mat-cell>
     </ng-container>
   
     <!-- Symbol Column -->
     <ng-container matColumnDef="droptype">
       <mat-header-cell *matHeaderCellDef> Drop </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.raidItem}} </mat-cell>
     </ng-container>

          <!-- Symbol Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element"><mat-icon (click)='OnRemoveItem(element.id)'>remove_circle_outline</mat-icon></mat-cell>
      </ng-container>
   
     <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>