<div class="container">
  <h1>Add Item Drop</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="dateReceived">Date</label>
      <input type="date" class="form-control" id="dateReceived"
              required
              [(ngModel)]="Si.dateReceived" name="dateReceived">
    </div>

    <div class="form-group">
      <label for="floor">Floor</label>
      <select class="form-control" id="floor" 
              required
              [(ngModel)]="Si.floor" name="floor">
        <option *ngFor="let _floor of floors" [value]="_floor">{{_floor}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="raider">Raider</label>
      <select class="form-control" id="raider"
              required
              [(ngModel)]="Si.raider" name="raider">
        <option *ngFor="let _raider of raiders" [value]="_raider">{{_raider}}</option>
      </select>
    </div>

    <div class="form-group">
        <label for="droptype">Drop</label>
        <select class="form-control" id="droptype" 
                required
                [(ngModel)]="Si.droptype" name="droptype">
          <option *ngFor="let _drop of drops" [value]="_drop">{{_drop}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
