<div class="container">
  <h1>Add Item Drop</h1>
  <form (ngSubmit)="onSubmit()" #addForm="ngForm">
    <div class="form-group">
      <label for="dateReceived">Date</label>
      <input type="date" class="form-control" id="dateReceived"
              required
              [(ngModel)]="Si.dateReceived" name="dateReceived">
    </div>

    <div class="form-group">
      <label for="floor">Floor</label>
      <select class="form-control" id="floor" 
              required
              [(ngModel)]="Si.floor" name="floor">
        <option *ngFor="let _floor of floors" [value]="_floor">{{_floor}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="raider">Raider</label>
      <select class="form-control" id="raider"
              (change)="raiderchange($event)"
              required
              [(ngModel)]="Si.raider" name="raider">
        <option *ngFor="let _raider of raiders" [value]="_raider">{{_raider}}</option>
      </select>
    </div>

    <div class="form-group">
        <label for="droptype">Drop</label>
        <select class="form-control" id="droptype" 
                required
                [(ngModel)]="Si.droptype" name="droptype">
          <option *ngFor="let _drop of drops" [value]="_drop">{{_drop}}</option>
        </select>
    </div>
    
    <input type="checkbox" (change)="toggleChange($event)" checked=true> Add another
    <button type="submit" class="btn btn-success" [disabled]="!addForm.form.valid">Submit</button>

  </form>
</div>

<h2>Recent Drops</h2>
<mat-table [dataSource]='SavageItems'>
    <!--- Note that these columns can be defined in any order.
         The actual rendered columns are set as a property on the row definition" -->
 
   <!-- Position Column -->
   <ng-container matColumnDef="dateReceived" >
       <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.dateReceived}} </mat-cell>
     </ng-container>
   
     <!-- Name Column -->
     <ng-container matColumnDef="floor">
       <mat-header-cell  *matHeaderCellDef> Floor </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{ element.floor }} </mat-cell>
     </ng-container>
   
     <!-- Weight Column -->
     <ng-container matColumnDef="raider">
       <mat-header-cell *matHeaderCellDef> Raider </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.raider}} </mat-cell>
     </ng-container>
   
     <!-- Symbol Column -->
     <ng-container matColumnDef="droptype">
       <mat-header-cell *matHeaderCellDef> Drop </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.droptype}} </mat-cell>
     </ng-container>

          <!-- Symbol Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element"><mat-icon (click)='OnRemoveItem(element.id)'>remove_circle_outline</mat-icon></mat-cell>
      </ng-container>
   
     <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>