<div *ngIf='drops'>
    <mat-table [dataSource]='drops' >
            <ng-container matColumnDef="dateReceived">
                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.receiveddate | date:'shortDate' }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="floor">
                <mat-header-cell  *matHeaderCellDef> Floor </mat-header-cell>
                <mat-cell *matCellDef="let element" > <img class='floor-icon' src='{{ element.raidfloorImage }}'> </mat-cell>
            </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="raider">
                <mat-header-cell *matHeaderCellDef> Raider </mat-header-cell>
                <mat-cell *matCellDef="let element">
                <mat-list>
                    <mat-list-item >
                        <div class="toLeft">
                        <img matListAvatar
                        src='{{ element.profile.raiderimg }}' 
                        alt='{{ element.profile.raidername }}'>
                        </div>               
                    </mat-list-item>
                    </mat-list>
                </mat-cell>
            </ng-container>
            
            <!-- Symbol Column -->
            <ng-container matColumnDef="droptype">
                <mat-header-cell *matHeaderCellDef> Drop </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.raidItem}} </mat-cell>
            </ng-container>
        
            <!-- Symbol Column -->
            <div *ngIf="loggedin; else elseBlock">
                <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon (click)='OnRemoveItem(element.id)'>remove_circle_outline</mat-icon>
                </mat-cell>
                </ng-container>
            </div>
            <ng-template #elseBlock>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element"></mat-cell>
                </ng-container>
            </ng-template>
            
            <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>    
</div>
<div *ngIf='floors'>
    <mat-accordion>
        <mat-expansion-panel *ngFor='let floor of floors'>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-list>
                        <mat-list-item>
                            <div class="toLeft">
                            <img matListAvatar 
                            src='{{ floor.flooricon }}'
                            alt='{{ floor.floorname}}'>
                            </div>&nbsp;&nbsp;
                            <div>{{ floor.floorname }}</div>
                        </mat-list-item>
                    </mat-list>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-table [dataSource]='floor.floor' >
                <ng-container matColumnDef="dateReceived">
                    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.receiveddate | date:'shortDate' }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="floor">
                    <mat-header-cell  *matHeaderCellDef> Floor </mat-header-cell>
                    <mat-cell *matCellDef="let element" > <img class='floor-icon' src='{{ element.raidfloorImage }}'> </mat-cell>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="raider">
                    <mat-header-cell *matHeaderCellDef> Raider </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-list>
                            <mat-list-item routerLink='{{ element.profile.pageroute }}'>
                            <div class="toLeft">
                                <img matListAvatar
                                src='{{ element.profile.raiderimg }}' 
                                alt='{{ element.profile.raidername }}'>
                            </div>               
                            </mat-list-item>
                        </mat-list>
                    </mat-cell>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="droptype">
                    <mat-header-cell *matHeaderCellDef> Drop </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.raidItem}} </mat-cell>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <div *ngIf="loggedin; else elseBlock">
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                        <mat-icon (click)='OnRemoveItem(element.id)'>remove_circle_outline</mat-icon>
                        </mat-cell>
                    </ng-container>
                    </div>
                    <ng-template #elseBlock>
                        <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element"></mat-cell>
                        </ng-container>
                    </ng-template>
                
                    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<br><br>
<div *ngIf='dropsraider'>
    <mat-accordion>
        <mat-expansion-panel *ngFor='let items of dropsraider'>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ items.itemname }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let item of items.item">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-list>
                        <mat-list-item>
                            <div class="toLeft">
                            <img matListAvatar  routerLink='{{ item[0].profile.pageroute }}'
                                src='{{ item[0].profile.raiderimg }}' 
                                alt='{{ item[0].profile.raidername }}'>
                            </div>&nbsp;&nbsp;&nbsp;
                            <p mat-Line>{{ item[0].profile.raidername }}</p>               
                        </mat-list-item>
                        </mat-list>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-table [dataSource]='item'>
                    <ng-container cdkColumnDef="Date">
                        <mat-header-cell *cdkHeaderCellDef> Date </mat-header-cell>
                        <mat-cell *cdkCellDef="let row"> {{row.receiveddate | date:'shortDate'}} </mat-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="Floor">
                        <mat-header-cell *cdkHeaderCellDef> Floor </mat-header-cell>
                        <mat-cell *cdkCellDef="let row"> {{row.raidfloorname}} </mat-cell>
                    </ng-container>   
                    <ng-container cdkColumnDef="Raider">
                        <mat-header-cell *cdkHeaderCellDef> Raider </mat-header-cell>
                        <mat-cell *cdkCellDef="let row"> {{row.raidername}} </mat-cell>
                    </ng-container>
                    <ng-container cdkColumnDef="Drop">
                        <mat-header-cell *cdkHeaderCellDef> Drop </mat-header-cell>
                        <mat-cell *cdkCellDef="let row"> {{row.raidItem}} </mat-cell>
                        </ng-container>
                    <mat-header-row *cdkHeaderRowDef="['Date', 'Floor', 'Raider', 'Drop']"></mat-header-row>
                    <mat-row *cdkRowDef="let row; columns: ['Date', 'Floor', 'Raider', 'Drop']"></mat-row>
                </mat-table>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<br><br>