<img class='main' src='assets/img/eden1.png'>
<h1>Eden Savage Floor 1 - Who can lot?</h1>
<div>
  <ul>
    <li>Round robin Equipment Coffers</li>
  </ul>  
</div>

<table class='table' *ngIf="Floor1_Equipments">
  <thead>
    <tr>
      <th>Equipment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Floor1_Equipment of Floor1_Equipments">
      <td>{{ Floor1_Equipment.raider }}</td>
    </tr>
  </tbody>
</table>

<form (ngSubmit)="onClearFloor1_equipment()">
  <button type="submit" class="btn btn-success">Reset Equipment List</button>
</form>