.form-container
{
    display:flex;
    flex-direction: column;
}
.form-container > * {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.form-right-align {
    text-align: right;
  }
  
input.form-right-align::-webkit-outer-spin-button,
input.form-right-align::-webkit-inner-spin-button {
display: none;
}

input.form-right-align {
-moz-appearance: textfield;
}

img {
    position: absolute;
    top: 0px;
    left: 0px;
  }
.imgA1 {
z-index: 1;
}
.imgB1 {
z-index: 3;
}