<img class='main' src='assets/img/eden3.png'>
<h1>Eden Savage Floor 3 - Who can lot?</h1>
<ul>
  <li>Round robin Equipment Coffers</li>
  <li>Round robin Deepshadow Twines</li>
  <li>Round robin Deepshadow Solvents... priority DPS > Tanks > Heals, among those who have a weapon to upgrade</li>
</ul>

<div class='container'>
  <div class='box'>
      <mat-table [dataSource]='Items1'>
          <ng-container matColumnDef="raiditem">
             <mat-header-cell *matHeaderCellDef> Equipment Coffer </mat-header-cell>
             <mat-cell *matCellDef="let element">
                 <mat-list>
                    <mat-list-item routerLink='{{ element.raider.pageroute }}'>
                       <div class="toLeft">
                         <img matListAvatar
                         src='{{ element.raider.raiderimg }}' 
                         alt='{{ element.raider.raidername }}'>
                       </div>&nbsp;&nbsp;&nbsp;
                       <p mat-Line>{{ element.raider.raidername }}</p>               
                     </mat-list-item>
                  </mat-list>
             </mat-cell>
           </ng-container>     
            
          <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       </mat-table>
  </div>
  <div class='box'>
      <mat-table [dataSource]='Items2'>
          <ng-container matColumnDef="raiditem">
             <mat-header-cell *matHeaderCellDef > Deepshadow Twine </mat-header-cell>
             <mat-cell *matCellDef="let element"> 
                 <mat-list>
                    <mat-list-item routerLink='{{ element.raider.pageroute }}'>
                    <div class="toLeft">
                      <img matListAvatar
                      src='{{ element.raider.raiderimg }}' 
                      alt='{{ element.raider.raidername }}'>
                    </div>&nbsp;&nbsp;&nbsp;
                    <p mat-Line>{{ element.raider.raidername }}</p>               
                  </mat-list-item>
                </mat-list>
             </mat-cell>
          </ng-container>     
            
          <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       </mat-table>
  </div>
  <div class='box'>
      <mat-table [dataSource]='Items3'>
          <ng-container matColumnDef="raiditem">
             <mat-header-cell *matHeaderCellDef > Deepshadow Solvent </mat-header-cell>
             <mat-cell *matCellDef="let element"> 
                 <mat-list>
                    <mat-list-item routerLink='{{ element.raider.pageroute }}'>
                    <div class="toLeft">
                      <img matListAvatar
                      src='{{ element.raider.raiderimg }}' 
                      alt='{{ element.raider.raidername }}'>
                    </div>&nbsp;&nbsp;&nbsp;
                    <p mat-Line>{{ element.raider.raidername }}</p>               
                  </mat-list-item>
                </mat-list>
             </mat-cell>
          </ng-container>     
            
          <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       </mat-table>
  </div>
</div>