<h1 align="center">Add Raid Item Drop</h1>
<form (ngSubmit)="onSubmit()" #addForm="ngForm">
    <div class="form-container">
        <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker" placeholder="Choose Date Received" required [(ngModel)]="receiveddate" name="dateReceived">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-select placeholder="Raid Content" required [(ngModel)]="raidcontentname" name="floor" (selectionChange)="toggleChangeFloor()">
                <mat-option *ngFor="let _floor of floors" [value]="_floor.value">
                {{ _floor.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>