<h1 class='bannertext'>Manage Lists</h1>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item>
            <img matListAvatar
                 src='https://dmszsuqyoe6y6.cloudfront.net/img/ff/bosses/65-icon.jpg'>
            <p mat-Line>&nbsp;&nbsp;&nbsp;Eden Savage Floor 1</p>
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Accessory Coffer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor1accessories"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 1','Accessory Coffer')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item>
            <img matListAvatar
                 src='https://dmszsuqyoe6y6.cloudfront.net/img/ff/bosses/66-icon.jpg'>
            <p mat-Line>&nbsp;&nbsp;&nbsp;Eden Savage Floor 2</p>
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Equipment Coffer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor2equipmentcoffer"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 2','Equipment Coffer')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Deepshadow Coating
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor2deepshadowcoating"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 2','Deepshadow Coating')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item>
            <img matListAvatar
                 src='https://dmszsuqyoe6y6.cloudfront.net/img/ff/bosses/67-icon.jpg'>
            <p mat-Line>&nbsp;&nbsp;&nbsp;Eden Savage Floor 3</p>
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Equipment Coffer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor3equipmentcoffer"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 3','Equipment Coffer')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Deepshadow Twine
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor3deepshadowtwine"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 3','Deepshadow Twine')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Deepshadow Solvent
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor3deepshadowsolvent"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 3','Deepshadow Solvent')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item>
            <img matListAvatar
                 src='https://dmszsuqyoe6y6.cloudfront.net/img/ff/bosses/68-icon.jpg'>
            <p mat-Line>&nbsp;&nbsp;&nbsp;Eden Savage Floor 4</p>
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chest Coffer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor4chestcoffer"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 4','Chest Coffer')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Weapon Coffer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor4weaponcoffer"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 4','Weapon Coffer')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>