<h1 class='bannertext'>Manage Lists</h1>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item>
            <img matListAvatar
                 src='https://dmszsuqyoe6y6.cloudfront.net/img/ff/bosses/65-icon.jpg'>
            <p mat-Line>&nbsp;&nbsp;&nbsp;Eden Savage Floor 1</p>
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-list>
              <mat-list-item>
                  <div class="toLeft">
                      <img matListAvatar
                          src='https://img.finalfantasyxiv.com/lds/pc/global/images/itemicon/8f/8ff71fec93cc2b3246609c0d140e5ddd4902090f.png?5.08'
                          alt='Accessory Coffer'>
                  </div>&nbsp;&nbsp;&nbsp;
                  <p mat-Line>Accessory Coffer</p>
              </mat-list-item>
            </mat-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor1accessories"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 1','Accessory Coffer')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item>
            <img matListAvatar
                 src='https://dmszsuqyoe6y6.cloudfront.net/img/ff/bosses/66-icon.jpg'>
            <p mat-Line>&nbsp;&nbsp;&nbsp;Eden Savage Floor 2</p>
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-list>
                  <mat-list-item>
                      <div class="toLeft">
                          <img matListAvatar
                              src='https://img.finalfantasyxiv.com/lds/pc/global/images/itemicon/8f/8ff71fec93cc2b3246609c0d140e5ddd4902090f.png?5.0'
                              alt='Equipment Coffer'>
                      </div>&nbsp;&nbsp;&nbsp;
                      <p mat-Line>Equipment Coffer</p>
                  </mat-list-item>
              </mat-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor2equipmentcoffer"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 2','Equipment Coffer')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-list>
              <mat-list-item>
                  <div class="toLeft">
                      <img matListAvatar
                          src='https://ffxiv.gamerescape.com/w/images/thumb/b/b9/Deepshadow_Coating_Icon.png/64px-Deepshadow_Coating_Icon.png'
                          alt='Deepshadow Coffer'>
                  </div>&nbsp;&nbsp;&nbsp;
                  <p mat-Line>Deepshadow Coating</p>
              </mat-list-item>
            </mat-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor2deepshadowcoating"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 2','Deepshadow Coating')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item>
            <img matListAvatar
                 src='https://dmszsuqyoe6y6.cloudfront.net/img/ff/bosses/67-icon.jpg'>
            <p mat-Line>&nbsp;&nbsp;&nbsp;Eden Savage Floor 3</p>
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-list>
              <mat-list-item>
                  <div class="toLeft">
                      <img matListAvatar
                          src='https://img.finalfantasyxiv.com/lds/pc/global/images/itemicon/8f/8ff71fec93cc2b3246609c0d140e5ddd4902090f.png?5.0'
                          alt='Equipment Coffer'>
                  </div>&nbsp;&nbsp;&nbsp;
                  <p mat-Line>Equipment Coffer</p>
              </mat-list-item>
            </mat-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor3equipmentcoffer"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 3','Equipment Coffer')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-list>
                <mat-list-item>
                    <div class="toLeft">
                        <img matListAvatar
                            src='https://ffxiv.gamerescape.com/w/images/thumb/e/e8/Deepshadow_Twine_Icon.png/40px-Deepshadow_Twine_Icon.png'
                            alt='Deepshadow Twine'>
                    </div>&nbsp;&nbsp;&nbsp;
                    <p mat-Line>Deepshadow Twine</p>
                </mat-list-item>
              </mat-list>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor3deepshadowtwine"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 3','Deepshadow Twine')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-list>
                <mat-list-item>
                    <div class="toLeft">
                        <img matListAvatar
                            src='https://ffxiv.gamerescape.com/w/images/thumb/f/f6/Deepshadow_Solvent_Icon.png/40px-Deepshadow_Solvent_Icon.png'
                            alt='Deepshadow Solvent'>
                    </div>&nbsp;&nbsp;&nbsp;
                    <p mat-Line>Deepshadow Solvent</p>
                </mat-list-item>
              </mat-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor3deepshadowsolvent"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 3','Deepshadow Solvent')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-list>
          <mat-list-item>
            <img matListAvatar
                 src='https://dmszsuqyoe6y6.cloudfront.net/img/ff/bosses/68-icon.jpg'>
            <p mat-Line>&nbsp;&nbsp;&nbsp;Eden Savage Floor 4</p>
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-list>
              <mat-list-item>
                  <div class="toLeft">
                      <img matListAvatar
                          src='https://ffxiv.gamerescape.com/w/images/thumb/0/03/Edengrace_Chest_Gear_Coffer_Icon.png/40px-Edengrace_Chest_Gear_Coffer_Icon.png'
                          alt='Chest Coffer'>
                  </div>&nbsp;&nbsp;&nbsp;
                  <p mat-Line>Chest Coffer</p>
              </mat-list-item>
            </mat-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor4chestcoffer"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 4','Chest Coffer')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-list>
              <mat-list-item>
                  <div class="toLeft">
                      <img matListAvatar
                          src='https://ffxiv.gamerescape.com/w/images/thumb/f/ff/Edengrace_Weapon_Coffer_Icon.png/40px-Edengrace_Weapon_Coffer_Icon.png'
                          alt='Weapon Coffer'>
                  </div>&nbsp;&nbsp;&nbsp;
                  <p mat-Line>Weapon Coffer</p>
              </mat-list-item>
            </mat-list>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [(ngModel)]="floor4weaponcoffer"
                            (ngModelChange)="setlist($event,'Eden Savage Floor 4','Weapon Coffer')">
          <mat-list-option *ngFor="let raiders of raiderprofiles" value='{{ raiders.raidername }}'>
            <img matListAvatar
                 src='{{ raiders.raiderimg }}'
                 alt='{{ raiders.raidername }}'>
            <p mat-Line>{{ raiders.raidername }}</p>
          </mat-list-option>
        </mat-selection-list>
        <button mat-raised-button color="primary" (click)="OnSubmit()">Reset List</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>