<mat-card class='tooltip-card' *ngIf="!profileinfo">
    <mat-card-header>
        <div mat-card-avatar class='divColumn1'><img src='https://xivapi.com{{ data.item.Item.Icon }}'></div>
        <mat-card-title>{{ data.item.Item.Name }}</mat-card-title>
        <mat-card-subtitle *ngIf="data.item.Mirage">
            <img mat-card-avatar src='https://xivapi.com{{ data.item.Mirage.Icon }}'>&nbsp;&nbsp;{{ data.item.Mirage.Name }}
        </mat-card-subtitle>
        <mat-card-subtitle>{{ data.item.Item.ItemUICategory.Name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-card-subtitle>Item Level {{ data.item.Item.LevelItem }}</mat-card-subtitle>
            </mat-list-item>
            <mat-list-item *ngIf="arm">
                <div class="divTable" >
                    <div class="divTableHeading">
                        <div class="divTableRow">
                            <div class="divTableHead">Damage</div>
                            <div class="divTableHead">Auto-attack</div>
                            <div class="divTableHead">Delay</div>
                        </div>
                    </div>
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell">{{ itemdamage }}</div>
                            <div class="divTableCell">{{ itemautoattack | number: '3.0-2' }}</div>
                            <div class="divTableCell">{{ itemdelayms }}</div>
                        </div>
                    </div>
                </div>   
            </mat-list-item>
            <mat-list-item>
                <p matLine>{{ data.item.Item.ClassJobCategory.Name }}</p>
            </mat-list-item>
            <mat-list-item *ngFor="let materia of data.item.Materia">
                <mat-list-item>
                    <img matListAvatar src='https://xivapi.com{{ materia.Icon }}'>
                    &nbsp;&nbsp;
                    <mat-card-subtitle>{{ materia.Name }}</mat-card-subtitle>
                </mat-list-item>
            </mat-list-item>
        </mat-list>          
    </mat-card-content>
</mat-card>
<mat-card *ngIf="profileinfo">
<!--https://lh3.googleusercontent.com/GFarHvcgbgeOq0MaIZ5mYXQVc_xqyOczsjx1Pm6Nf5vOYbZ8HKzxF6i0sxPVr_OiU7hAzGprc993PzBoE5ekySttFdPD1X56frqeC_BPMXLEn3MbhqzfuxBvJGjHPcE60DzY-DV0ljtJ8j0P1-E-gHm6X-72qlJt6Sj7rCY7SFYrwusl7SViC4iEXfD30idQ8Y8LIxA_CMyd5vjDmhDHNUVTPmK5KTvWAxtGKBbJwqbBqelmDTKoDvnpQ4UkppcPPF3mBubJK-D5ZYuRpixoQMZtyDib7tGvifw42mCHrGiMUZZcK0Db0Q3-7rJzSCaOwVCd3lXwFEij8Zx4oTtu1nUMbX8Eu3qF7rtAATRXR1cUE3U5Gy7CH7nycLdQwjY9Yg-wImpKrCxrgwDTTy2mNHo_5Ec7PQY9eLP5pcqmlf03EDDxUNxjrOdVWckLJ1BIGWrCB2dRoDsHxCdd44m8nSbn35oQDEB1LoXcGYeH4u0sNEDre62F1bCW0oJ_XYK4Jq9GGvtdAqgmdjZg03H1O7h6i0LcLlm-w9C7zK2e_7Up-1M8ydr_vJJY9IfdJolcBk_4ox0MQ8wylAihVwCh9MSfZ7hDTiOCsj7J9Axv6MAUdtwlr3S2EWJvo7DQY05MGaj1FeLT1wJePATIyxzEzZwxr4T77YzbbSqK1XozVoaxCqwX4TfOJH7baynYc2A3MJLx3KHQxpO1mWZ3EaZ5SPPOLqlAaEjSxH86Tcq5hZtFUs_HrA=w873-h908-no-->
</mat-card>