<mat-card class='tooltip-card'>
    <mat-card-header>
        <div mat-card-avatar class='divColumn1'><img src='https://xivapi.com{{ data.item.Item.Icon }}'></div>
        <mat-card-title>{{ data.item.Item.Name }}</mat-card-title>
        <mat-card-subtitle *ngIf="data.item.Mirage">
            <img mat-card-avatar src='https://xivapi.com{{ data.item.Mirage.Icon }}'>&nbsp;&nbsp;{{ data.item.Mirage.Name }}
        </mat-card-subtitle>
        <mat-card-subtitle>{{ data.item.Item.ItemUICategory.Name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-card-subtitle>Item Level {{ data.item.Item.LevelItem }}</mat-card-subtitle>
            </mat-list-item>
            <mat-list-item *ngIf="arm">
                <div class="divTable" >
                    <div class="divTableHeading">
                        <div class="divTableRow">
                            <div class="divTableHead">Damage</div>
                            <div class="divTableHead">Auto-attack</div>
                            <div class="divTableHead">Delay</div>
                        </div>
                    </div>
                    <div class="divTableBody">
                        <div class="divTableRow">
                            <div class="divTableCell">{{ itemdamage }}</div>
                            <div class="divTableCell">{{ itemautoattack | number: '3.0-2' }}</div>
                            <div class="divTableCell">{{ itemdelayms }}</div>
                        </div>
                    </div>
                </div>   
            </mat-list-item>
            <mat-list-item>
                <p matLine>{{ data.item.Item.ClassJobCategory.Name }}</p>
            </mat-list-item>
            <mat-list-item *ngFor="let materia of data.item.Materia">
                <mat-list-item>
                    <img matListAvatar src='https://xivapi.com{{ materia.Icon }}'>
                    &nbsp;&nbsp;
                    <mat-card-subtitle>{{ materia.Name }}</mat-card-subtitle>
                </mat-list-item>
            </mat-list-item>
        </mat-list>          
    </mat-card-content>
</mat-card>