<mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab *ngFor='let rc of raidContent' [label]="rc._raidContent.id">
        <ng-template mat-tab-label>
            <img class='acac-avatar' src='{{ rc._raidContent.contentimg }}'>
            &nbsp;&nbsp;&nbsp;{{ rc._raidContent.contentname }}
        </ng-template>
        <ng-template matTabContent>
            <br>
            <h1 align="center">{{ rc._raidContent.contentname }}</h1>
            <br>
            <div [innerHtml]="rc._raidContent.contentdescription"></div> 
            <app-round-robin-list [contentid]="rc._raidContent.id"></app-round-robin-list>  
        </ng-template>
    </mat-tab>
</mat-tab-group>
<br><br>