<mat-tab-group>
    <mat-tab *ngFor='let rc of raidContent'>
        <ng-template mat-tab-label>
            <mat-list>
                <mat-list-item>
                    <div class="toLeft">
                    <img matListAvatar
                            src='{{ rc._raidContent.contentimg }}'>
                    </div>&nbsp;&nbsp;&nbsp;
                    <p mat-Line>{{ rc._raidContent.contentname }}</p>               
                </mat-list-item>
            </mat-list>
        </ng-template>
        <div [innerHtml]="rc._raidContent.contentdescription"></div>       
        <app-round-robin-list [contentid]="rc._raidContent.id"></app-round-robin-list>
        <br><br>
        <h5 align='center'>Item Distribution</h5>
        <app-item-drop-by-floor [Displaytype]="'2'" [Contentid]="rc._raidContent.id"></app-item-drop-by-floor>
    </mat-tab>
</mat-tab-group>
 <app-pie-chart [Filter]='savageFloor' [Datatype]="'0'" ></app-pie-chart> 
<!--<app-item-drop-by-floor [Displaytype]="'2'" [Contentid]='savageFloor'></app-item-drop-by-floor>-->