@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


img.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    width: 75%;
}
table
{
    width: 75%;
    margin-left: 10%;
}