<h1>Item History</h1>
<p><img class='main' src="assets/img/ffxiv_12032018_011418.png"></p>
<p *ngIf="!SavageItems"><em>Loading...</em></p>

<table class='table' *ngIf="SavageItems">
  <thead>
    <tr>
      <th>Date</th>
      <th>Floor</th>
      <th>Raider</th>
      <th>Drop</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let SavageItem of SavageItems">
      <td>{{ SavageItem.dateReceived }}</td>
      <td><img class='floor-icon' src='{{ SavageItem.floor }}'></td>
      <td>{{ SavageItem.raider }}</td>
      <td>{{ SavageItem.droptype }}</td>
    </tr>
  </tbody>
</table>

<!--<form (ngSubmit)="onClick_ResetDb()">
  <button type="submit" class="btn btn-success">Reset the Database</button>
</form>-->
