<table align='center'>
    <tr>
        <th>Raider</th>
        <th>Lodestone Id</th>
        <th>Is Raid Member</th>
        <th>Is Nine Member</th>
        <th>Is Admin</th>
    </tr>
    <tr *ngFor="let raider of raiders">
        <td>
            <mat-list>
                <mat-list-item>
                    <img matListAvatar src='{{ raider.raiderimg }}' matTooltip='{{ raider.raidername }}' (click)="resetImage(raider)">
                    <p matLine>{{ raider.raidername }}</p>
                    <p matLine>
                        <input matInput (blur)='onAdmintoggle(raider)' placeholder="Discord User" 
                            maxlength="25" [(ngModel)]="raider.discorduser" name="duser" 
                            value="{{ raider.discorduser }}">
                    </p>
                </mat-list-item>
            </mat-list>
        </td>
        <td>
            <input matInput (blur)='onAdmintoggle(raider)' placeholder="Lodestone ID" 
                   maxlength="25" [(ngModel)]="raider.lodestoneid" name="lstoneid" 
                   value="{{ raider.lodestoneid }}">
        </td>
        <td align='center'>
            <mat-slide-toggle [(ngModel)]='raider.israidmember'
                [checked]="raider.israidmember"
                (change)="onAdmintoggle(raider)" color=primary
                ></mat-slide-toggle>
        </td>
        <td align='center'>
            <mat-slide-toggle [(ngModel)]='raider.isninemember'
                              [checked]="raider.isninemember"
                              (change)="onAdmintoggle(raider)" color=primary></mat-slide-toggle>
                               
        </td>
        <td align='center'>
            <mat-slide-toggle [(ngModel)]='raider.isadmin'
                              [checked]="raider.isadmin"
                              (change)="onAdmintoggle(raider)" color=primary></mat-slide-toggle>
                               
        </td>
    </tr>
</table>