<table align='center'>
    <tr *ngFor="let raider of raiders">
        <td>
            <mat-card>
                <mat-card-header>
                    <img mat-card-avatar src='{{ raider.raiderimg }}' matTooltip='{{ raider.raidername }}' (click)="resetImage(raider)">
                    <mat-card-title>{{ raider.raidername }}</mat-card-title>
                    <mat-card-subtitle>
                        <input matInput (blur)='onAdmintoggle(raider)' placeholder="Discord User" 
                            maxlength="25" [(ngModel)]="raider.discorduser" name="duser" 
                            value="{{ raider.discorduser }}">
                    </mat-card-subtitle>
                    <span class="example-spacer"></span>
                    <mat-icon color="primary" (click)='deleteraider(raider)' [style.cursor]="'pointer'">close</mat-icon>
                </mat-card-header>
                <mat-card-content>                    
                    <p><input matInput (blur)='onAdmintoggle(raider)' placeholder="Lodestone ID" 
                           maxlength="25" [(ngModel)]="raider.lodestoneid" name="lstoneid" 
                           value="{{ raider.lodestoneid }}"></p>
                </mat-card-content>
                <mat-card-actions>
                    <mat-slide-toggle [(ngModel)]='raider.israidmember' [checked]="raider.israidmember"
                           (change)="onAdmintoggle(raider)" color=primary>&nbsp;&nbsp;Is Raid member</mat-slide-toggle>
                           &nbsp;&nbsp;&nbsp;
                    <mat-slide-toggle [(ngModel)]='raider.isninemember' [checked]="raider.isninemember"
                           (change)="onAdmintoggle(raider)" color=primary>&nbsp;&nbsp;Is Nine member</mat-slide-toggle>
                           &nbsp;&nbsp;&nbsp;
                    <mat-slide-toggle [(ngModel)]='raider.isadmin'
                           [checked]="raider.isadmin"
                           (change)="onAdmintoggle(raider)" color=primary>&nbsp;&nbsp;Is Admin</mat-slide-toggle>
                </mat-card-actions>
            </mat-card>
        </td>
    </tr>
</table>