<div class="divRow">
    <div class="contentColumn1">
        <mat-tab-group [selectedIndex]="0" (selectedTabChange)="tabChanged($event)">
            <mat-tab *ngFor="let char of raider">
                <ng-template mat-tab-label>
                    <mat-list>
                        <mat-list-item>
                            <img matListAvatar src='{{ char.raiderimg }}'>     
                        </mat-list-item>
                    </mat-list>
                </ng-template>
                <app-character-info [characterid]='char.lodestoneid'></app-character-info>
            </mat-tab>
        </mat-tab-group>
        <app-doughnut-chart [Filter]='raider[selected].raidername'></app-doughnut-chart>
    </div>
    <div class="contentColumn2">
        <app-pie-chart [Filter]='raider[selected].raidername' [Datatype]="'1'" ></app-pie-chart>
        <app-item-drop [charactername]='raider[selected].raidername'></app-item-drop>
    </div>
</div>