<mat-tab-group [selectedIndex]="raider.selected" (selectedTabChange)="tabChanged($event)">
    <mat-tab *ngFor="let char of raider.raider">
        <ng-template mat-tab-label>
            <mat-list>
                <mat-list-item>
                    <img matListAvatar src='{{ char.avatar }}'>     
                </mat-list-item>
            </mat-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<div class="divRow">
    <div class="contentColumn1">
        <app-character-info [characterid]='raider.raider[raider.selected].characterid'></app-character-info>
    </div>
    <div class="contentColumn2">
        <app-pie-chart [Filter]='raider.raider[raider.selected].charactername' [Datatype]="'1'" ></app-pie-chart>
        <app-item-drop [charactername]='raider.raider[raider.selected].charactername'></app-item-drop>
    </div>
</div>