<mat-list>
  <mat-list-item >
      <img matListAvatar
      src='{{ photo }}'>&nbsp;&nbsp;
      <h2>Val Phoenix</h2>
  </mat-list-item>
</mat-list>
<p><img class='main' src='{{ banner }}'></p>

<mat-table [dataSource]='SavageItems'>
    <!--- Note that these columns can be defined in any order.
         The actual rendered columns are set as a property on the row definition" -->
 
   <!-- Position Column -->
   <ng-container matColumnDef="dateReceived" >
       <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{ element.receiveddate | date:'shortDate' }} </mat-cell>
     </ng-container>
   
     <!-- Name Column -->
     <ng-container matColumnDef="floor">
       <mat-header-cell  *matHeaderCellDef> Floor </mat-header-cell>
       <mat-cell *matCellDef="let element"> <div class="toLeft"><img class='floor-icon' src='{{ element.raidfloorImage }}'></div> </mat-cell>
     </ng-container>

     <!-- Symbol Column -->
     <ng-container matColumnDef="raider">
        <mat-header-cell *matHeaderCellDef> Raider </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-list>
                <mat-list-item >
                  <div class="toLeft">
                    <img matListAvatar
                    src='{{ element.profile.raiderimg }}' 
                    alt='{{ element.profile.raidername }}'>
                  </div>               
                </mat-list-item>
              </mat-list>
        </mat-cell>
      </ng-container>     
   
     <!-- Symbol Column -->
     <ng-container matColumnDef="droptype">
       <mat-header-cell *matHeaderCellDef> Drop </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{ element.raidItem }} </mat-cell>
     </ng-container>
   
     <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>